body{font-family:"microsoft yahei","Open Sans",Arial,'microsoft yahei',sans-serif;line-height:22px;font-size:14px;overflow-x:hidden;overflow-y: scroll;}
footer,header,nav,section{display:block}
.ng-cloak{display:none}
.border-radius0{border-radius:0;box-shadow:none;-webkit-box-shadow:none}
@media (min-width:720px){.container-h{width:auto}}@media (min-width:992px){.container-h{width:970px}}@media (min-width:1200px){.container-h{width:1170px}}.lot-type{border-left:1px solid #dedede;border-top:1px solid #dedede}
.lot-type a{float:left;display:block;height:38px;text-align:center;line-height:38px;border-right:1px solid #dedede;font-size:14px;font-weight:700;color:#333;text-decoration:none;padding-left:0;padding-right:0}
.lot-type a.active{background-color:#dedede}
@media (min-width:768px){.lot-type a.nav-b-r-none{border-right:none}}@media (max-width:767px){.lot-type a.nav-xs-hidden{display:none}
    .lot-latest{margin-top:0!important}
    .lot-m{margin-bottom:5px!important}}@media (min-width:768px) and (max-width:1200px){.lot-type a.nav-md-hidden{display:none}}@media (min-width:1200px){.lot-type{border-right:1px solid #dedede}
    .lot-type a.nav-lg-b-r-none{border-right:none}}i{font-style:normal;display:inline-block}
.lot-m{border:1px solid #dedede;background-color:#f6f5f5;padding:15px;margin-bottom:20px}
.lot-latest{margin-top:4px;border:1px solid #dedede;height:68px;background-color:#FFF}
.t-logo img{width:50px;padding:9px 0}
.lot-section{float:left;margin:0 15px}
.lot-section p{font-size:16px;color:#333;line-height:36px;margin:0;padding:0;display:block}
.lot-section p i{font-family:Tahoma;color:#e63442}
.lot-section-sel .prv{display:block;float:left;width:27px;height:27px;background-image:url(../images/lot_icon.png)/*tpa=http://www.xbypc28.com/Public/images/lot_icon.png*/;background-position:0 0}
.lot-section-sel .selblk{float:left;width:129px;height:27px;padding:1px 5px;margin:0 6px;border:1px solid #cacaca;background:#FFF;-moz-border-radius:1px;-webkit-border-radius:1px;border-radius:1px;position:relative;z-index:2;z-index:99}
.lot-section-sel .selblk .seconds{float:left;font-size:14px;color:#333;line-height:25px;display:block;width:106px;text-align:center}
.lot-section-sel .next{display:block;float:left;width:27px;height:27px;background-image:url(../images/lot_icon.png)/*tpa=http://www.xbypc28.com/Public/images/lot_icon.png*/;background-position:0 -56px}
.lot-section-sel .arrow2{float:right;display:block;width:10px;height:25px;background-image:url(../images/arrow.png)/*tpa=http://www.xbypc28.com/Public/images/arrow.png*/;background-position:center center;background-repeat:no-repeat}
.open-cutdown{border:1px solid #dedede;background-color:#FFF;margin-top:4px;height:68px;text-align:center;position:relative;z-index:2}
.opentime{display:inline-block;font-size:16px;color:#333;padding:10px 0 0;height:58px;line-height:48px}
.opentime span{float:left;display:inline-block}
.opentime b{float:left;display:block;width:48px;height:48px;font-family:Tahoma;font-weight:100;font-size:36px;color:#FFF;margin:0 10px;background-image:url(../images/lot_icon.png)/*tpa=http://www.xbypc28.com/Public/images/lot_icon.png*/;background-position:0 -112px}
.lot-result{border:1px solid #dedede;background-color:#FFF;padding:0;margin-top:4px;height:68px;text-align:center}
.lot-result .r1{display:inline-block;padding:10px 10px 0 0;margin-top:4px;height:51px;border-right:1px solid #e8e8e8;margin-right:10px}
.lot-result .r1 span{display:inline-block;width:38px;height:38px;text-align:center;line-height:38px;font-size:18px;color:#FFF;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;position:relative;z-index:2}
.lot-result .r2{padding-top:20px;text-align:left;display:inline-block}
.lot-result .r2 span{padding:7px;border-radius:14px;font-size:14px;font-weight:400}
.lot-result .r3{display:inline-block;padding-left:50px;font-size:16px;color:#8d8d8d;height:68px;line-height:68px;background-image:url(../images/clock.jpg)/*tpa=http://www.xbypc28.com/Public/images/clock.jpg*/;background-position:center left;background-repeat:no-repeat}
.blue-info{background-color:#00a0e9;color:#fff}
.red-info{background-color:#e60012;color:#fff}
.red{background-color:#e60012}
.blue{background-color:#00a0e9}
.cyanBlue{background-color:#FF0000}
.skyBlue{background-color:#556fb5}
.orange{background-color:#e60012}
.yellow{background-color:#f39800}
.green{background-color:#22ac38}
@media (max-width:767px){.lot-m,.wrapper-xxs{padding:5px}}.panel .tbl-trend>tbody>tr>td,.panel .tbl-trend>thead th{padding-left:2px;padding-right:2px;text-align:center}
.arrow.bottom.h-ab-trend{margin-left:25%}
.arrow.bottom.h-ab-result:after,.arrow.bottom.h-ab-trend:after{border-top-color:#335397}
.tbl-trend .badge{padding-left:3px;padding-right:3px}
@media (min-width:768px){.tbl-trend .badge{padding:7px;border-radius:14px;font-size:14px;font-weight:400}}.rsMinW .rsBullet{width:auto;height:auto}
.dropdown-menu>li>a{text-align:left}
.bg-white{background-color:#fff;color:#717171}
.b-light{border-color:#e4e4e4}
.panel .table td,.panel .table th{padding:6px 15px;border-top:1px solid #f1f1f1}
.panel .table-striped>thead th{background:#f5f5f5;border-right:1px solid #f1f1f1}
.panel .table thead>tr>th{border-bottom:1px solid #ebebeb}
.panel{border-radius:2px}
.panel.panel-default{border-color:#e8e8e8}
.m-b-none{margin-bottom:0}
.panel-heading{border-radius:2px 2px 0 0}
.panel.panel-default>.panel-footer,.panel.panel-default>.panel-heading{border-color:#e8e8e8}
.btn-twitter{color:#fff!important;background-color:#00c7f7;border-color:#00c7f7}
.btn-twitter.active,.btn-twitter:active,.btn-twitter:focus,.btn-twitter:hover,.open .dropdown-toggle.btn-twitter{color:#fff!important;background-color:#00b2de;border-color:#00a6ce}
.btn-twitter.active,.btn-twitter:active,.open .dropdown-toggle.btn-twitter{background-image:none}
.btn-twitter.disabled,.btn-twitter.disabled.active,.btn-twitter.disabled:active,.btn-twitter.disabled:focus,.btn-twitter.disabled:hover,.btn-twitter[disabled],.btn-twitter[disabled].active,.btn-twitter[disabled]:active,.btn-twitter[disabled]:focus,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter,fieldset[disabled] .btn-twitter.active,fieldset[disabled] .btn-twitter:active,fieldset[disabled] .btn-twitter:focus,fieldset[disabled] .btn-twitter:hover{background-color:#00c7f7;border-color:#00c7f7}
.btn-facebook{color:#fff!important;background-color:#335397;border-color:#335397}
.btn-facebook.active,.btn-facebook:active,.btn-facebook:focus,.btn-facebook:hover,.open .dropdown-toggle.btn-facebook{color:#fff!important;background-color:#2d4984;border-color:#294279}
.btn-facebook.active,.btn-facebook:active,.open .dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook.disabled.active,.btn-facebook.disabled:active,.btn-facebook.disabled:focus,.btn-facebook.disabled:hover,.btn-facebook[disabled],.btn-facebook[disabled].active,.btn-facebook[disabled]:active,.btn-facebook[disabled]:focus,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook,fieldset[disabled] .btn-facebook.active,fieldset[disabled] .btn-facebook:active,fieldset[disabled] .btn-facebook:focus,fieldset[disabled] .btn-facebook:hover{background-color:#335397;border-color:#335397}
.btn{font-weight:500;border-radius:2px}
.arrow{border-width:8px;z-index:10}
.arrow,.arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}
.arrow:after{border-width:7px;content:""}
.arrow.top{left:50%;margin-left:-8px;border-top-width:0;border-bottom-color:#eee;border-bottom-color:rgba(0,0,0,.1);top:-8px}
.arrow.top:after{content:" ";top:1px;margin-left:-7px;border-top-width:0;border-bottom-color:#fff}
.arrow.right{top:50%;right:-8px;margin-top:-8px;border-right-width:0;border-left-color:#eee;border-left-color:rgba(0,0,0,.1)}
.arrow.right:after{content:" ";right:1px;border-right-width:0;border-left-color:#fff;bottom:-7px}
.arrow.bottom{left:50%;margin-left:-8px;border-bottom-width:0;border-top-color:#eee;border-top-color:rgba(0,0,0,.1);bottom:-8px}
.arrow.bottom:after{content:" ";bottom:1px;margin-left:-7px;border-bottom-width:0;border-top-color:#fff}
.arrow.left{top:50%;left:-8px;margin-top:-8px;border-left-width:0;border-right-color:#eee;border-right-color:rgba(0,0,0,.1)}
.arrow.left:after{content:" ";left:1px;border-left-width:0;border-right-color:#fff;bottom:-7px}
.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover{background-image:none;filter:none;background-color:#f1f1f1!important;color:#717171}
.dropdown-select>li>a input{position:absolute;left:-9999em}
.font-bold{font-weight:700}

.Pagination a:hover,.current{background-color: #556fb5;border: 1px solid #556fb5;color: #ffffff; }
.Pagination{float: right;height: auto;_height: 45px; line-height: 20px;margin-right: 15px;_margin-right: 5px; color:#565656;margin-top: 10px;_margin-top: 20px; clear:both;}
.Pagination a{color: #556fb5;}}
.Pagination span{color: #fff;}
.Pagination a,.Pagination span{ font-size: 14px;text-decoration: none;display: block;float: left;border: 1px solid #ccc;height: 34px;line-height: 34px;margin: 0 2px;width: 34px;text-align: center;}