*{margin:0; padding:0; font-size:1em; font-family:'\5FAE\8F6F\96C5\9ED1',Arial,Helvetica,sans-serif; font-style:normal; -webkit-tap-highlight-color:transparent;}
/* 主页样式 */
.main{padding-top:50px; width:100%; margin:0 auto;background-color: #fff;}
.main h3{border-bottom:1px solid #dadada; height: 40px;color: #333;line-height: 40px;padding-left: 12px;}
.main ul{background-color: #fff;}
.main li{position:relative;border-bottom:1px solid #dadada;padding:5px 15px;line-height:20px;}
.main li a{-webkit-margin-start:0px;-webkit-margin-end:0px;width:100%;}
.main li a::after{display: inline-block;content: '';width: 10px;height: 10px;border-top: #ccc solid 2px;border-right: #ccc solid 2px;-webkit-transform: rotate(45deg);position: absolute;right: 20px;top: 40%;}
.main li .detail::after{-webkit-transform: rotate(135deg);}
.main li .c_detail::after{-webkit-transform: rotate(315deg);}
.main li span{color:#C0C0C0;font-size:12px;vertical-align:middle;padding-left:20px;}
.main em{color:#C0C0C0;font-size:12px;}
/*.main p{position:relative;display:inline-flex;width:100%;}*/
.main b{border: 1px solid #E74E3E;color: #fff;margin-right:4px;width: 24px;height: 24px;line-height: 24px;text-align:center;}
.main b.bsquare {border: 1px solid #3597DE;color: #fff;background: #3597DE;}
.main b.osquare {border: 1px solid red;color: #fff;background: red;}
.main b.psquare {border: 1px solid #9933FF;color: #fff;background: #9933FF;}
.main b.blue {border: 1px solid #3597DE;color: #fff;background: #3597DE;-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius:50%;}
.main b.orange{background-color:red;border: 1px solid red;-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius:50%;}
.main b.purple{ background-color: #9933FF;border: 1px solid #9933FF;-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius:50%;}*/
.main b.gou{border: 1px solid #C0C0C0;color: #C0C0C0;-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius:50%;position: absolute;right: 5%;width: 24px;height: 24px;line-height: 24px;text-align:center;}
.main p i{padding: 2%;color: #C0C0C0;position: absolute;right: 5%;width: 16px;height: 16px;line-height: 16px;}
.main .zcOpen b{color: #BF7A47;background-color:#EDDCC8;margin-right: 1%;width: 10px;padding:2px;border:0px;border-radius:0;}
/*.main .moreOpen{position:relative;display: inline-flex;font-size:12px;}
.main .moreOpen b{background-color:#E74E3E;color: #fff;-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius:50%;margin-right:4px;width: 22px;height: 22px;line-height: 22px;text-align:center;}
.main .moreOpen b.lan {background-color:#3597DE;color: #fff;}
.main .moreOpen b.orange{background-color:#F5853B;border: 1px solid #F5853B;}
.main .moreOpen b.purple{ background-color: #9933FF;border: 1px solid #9933FF;}*/
.main .result{border-radius: 16px;width: 250px;height: 28px;display: block;background-color:#309918;color:#fff;line-height:28px;text-align:center;}
.main .gplot{text-align:center;font-size:12px;display:none;width:100%;}
.main .gplot td{ border: #C0C0C0 1px solid;height: 35px;}
.main .gplot td a{margin:0px;}


/* 详情样式 */
.main .opendetail{padding-bottom:42px;}
.t_sale{border:8px #F0EFEB solid; }
.t_sale td{width:50%;height:50px;border:1px #F0EFEB solid;}
.t_award{border-left:8px #F0EFEB solid;border-right:8px #F0EFEB solid;border-bottom:8px #F0EFEB solid;font-size:12px;line-height:30px;}
.t_award td,th{border:1px #F0EFEB solid;}
.t_award tr td:first-child{color:#999;}
.t_award tr td:last-child{color:red;}